@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.u-center-title {
  text-align: center; }

.u-center-div {
  margin: auto; }

.u-float-right {
  float: right; }

.u-wrapper-center {
  margin: auto;
  text-align: center; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem; }

.secundary-title {
  font-size: 3rem; }

.urgent {
  color: #e69225; }

.very-urgent {
  color: #d6240d; }

.not-urgent {
  color: #32a852; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:active {
  text-decoration: none; }

.done {
  text-decoration: line-through; }

.todos {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  text-align: center; }
  .todos__item {
    border: 3px solid #3383a3;
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    margin: 1rem 2rem;
    padding: 1rem;
    position: relative; }
  .todos__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
  .todos__title:hover {
    color: #3383a3; }
  .todos__icon {
    font-size: 3rem;
    cursor: pointer; }
    .todos__icon:not(:last-child) {
      padding-right: 2rem; }
  .todos__name {
    float: left;
    margin: 1rem;
    padding: 0 2rem 2rem 0; }
  .todos__date {
    float: right;
    margin: 1rem;
    padding: 0 0 2rem 2rem;
    text-decoration: underline; }

.form {
  margin: 1rem; }
  .form__section {
    margin: 1rem;
    width: 100%;
    position: relative;
    height: 4rem;
    padding: 1.5rem 0;
    overflow: hidden; }
    .form__section--description {
      padding: 0;
      height: auto; }
    .form__section--select {
      padding-bottom: 0.5rem; }
    .form__section--search {
      display: block;
      margin: auto;
      width: 50vw; }
  .form__input {
    color: #646c70;
    padding-top: 1rem;
    width: 80%;
    height: 100%;
    border: none;
    outline: none; }
    .form__input--date, .form__input--select {
      width: auto; }
    .form__input--search {
      display: block;
      margin: auto;
      width: 60vw;
      font-size: 3rem; }
    .form__input--text-area {
      height: 10rem; }
  .form__input:focus + .form__label .form__span,
  .form__input:valid + .form__label .form__span {
    font-size: 1rem;
    transform: translateY(-200%);
    width: 100%; }
  .form__input:valid + .form__label--select .form__span--select {
    transform: translateY(0);
    font-size: inherit; }
  .form__input:focus + .form__label--text::after {
    transform: translateX(0); }
  .form__label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 90%;
    height: 100%;
    pointer-events: none;
    text-transform: uppercase;
    margin: 1rem 0; }
    .form__label--description, .form__label--select {
      position: static; }
    .form__label--text {
      border-bottom: 1px solid black; }
    .form__label--description {
      bottom: -1rem;
      margin: 0; }
    .form__label::after {
      content: '';
      position: absolute;
      left: -1px;
      bottom: -3px;
      height: 100%;
      width: 100%;
      transition: all 300ms ease; }
    .form__label--text::after {
      border-bottom: 3px solid #3383a3;
      transform: translateX(-100%); }
  .form__span {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 300ms ease; }
    .form__span--select {
      top: 0; }

.btn {
  display: inline-block;
  margin: 2rem 2rem 2rem 0;
  border-radius: 10px;
  padding: 1rem;
  background-color: whitesmoke;
  border-style: none;
  transition: all 300ms; }
  .btn--green {
    background-color: #d9d636; }
  .btn:hover, .btn:active {
    cursor: pointer;
    background-color: #3383a3;
    transform: translateY(-5px); }
  .btn__text,
  .btn__text :link,
  .btn__text :visited {
    padding: 2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase; }
  .btn__text:hover, .btn__text:active {
    color: white; }

.loading {
  text-align: center; }
  .loading--spinner {
    margin: 2rem;
    font-size: 4rem;
    animation: spinner 1.2s linear infinite; }

.error {
  display: block;
  height: 3rem;
  width: 50vh;
  margin: auto;
  background-color: orangered;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border-radius: 5px; }

.todo-info__title {
  text-align: center;
  margin: auto 2rem; }

.todo-info__key {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: grey; }

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out; }
  .popup-container:target {
    opacity: 1;
    visibility: visible; }
  .popup-container:target .popup-container__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup-container__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50%;
    padding: 3rem 2rem;
    transform: scale(0); }

.form__color--section {
  margin: 1rem;
  width: 100%;
  position: relative;
  padding-bottom: 1.5rem; }

.form__color--label {
  text-transform: uppercase;
  color: black; }

.form__color--span {
  display: block;
  margin-bottom: 1rem; }

.nav__list {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #3383a3; }

.nav li {
  display: inline-block; }

.nav__list-item, .nav__list-item:link {
  padding: 0 2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }

.nav__list-item--active {
  color: #d9d636; }

.nav__list-item:hover {
  color: #d9d636; }

.close-tag {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer; }

.header {
  height: 30vh;
  position: relative; }
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.login {
  width: 50vw;
  margin: auto; }

.signup {
  width: 50vw;
  margin: 0 auto;
  font-size: 1rem; }

.todo-card {
  width: 60vw;
  margin: 3rem auto;
  border: 3px solid #3383a3;
  border-radius: 3px;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.2); }

.todo-info {
  margin: 2rem; }
  .todo-info__title {
    margin-bottom: 2rem;
    text-transform: uppercase; }
