@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.u-center-title {
  text-align: center; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem; }

.secundary-title {
  font-size: 3rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:active {
  text-decoration: none; }

.done {
  text-decoration: line-through; }

.todos {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  text-align: center; }
  .todos__item {
    border: 3px solid #3383a3;
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    margin: 1rem 2rem;
    padding: 1rem;
    position: relative; }
  .todos__title {
    color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
  .todos__icon {
    font-size: 3rem;
    cursor: pointer; }
    .todos__icon:not(:last-child) {
      padding-right: 2rem; }
  .todos__name {
    float: left;
    margin: 1rem;
    padding: 0 2rem 2rem 0; }
  .todos__date {
    float: right;
    margin: 1rem;
    padding: 0 0 2rem 2rem;
    text-decoration: underline; }

.form {
  margin: 1rem; }
  .form__input, .form__label {
    display: block; }
  .form__input--search {
    margin: auto;
    width: 60vw;
    font-size: 3rem; }
  .form__input--text-area {
    width: 100%;
    height: 10vh; }
  .form__label {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 1rem 0; }

.btn {
  display: block;
  margin: 2rem auto;
  border-radius: 2rem;
  padding: 1rem;
  background-color: whitesmoke; }
  .btn:hover, .btn:active {
    cursor: pointer; }
  .btn > a:link,
  .btn > a:visited {
    text-decoration: none;
    color: black;
    text-transform: uppercase; }

.loading {
  text-align: center; }
  .loading--spinner {
    margin: 2rem;
    font-size: 4rem;
    animation: spinner 1.2s linear infinite; }

.error {
  display: block;
  height: 3rem;
  width: 50vh;
  margin: auto;
  background-color: orangered;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border-radius: 5px; }

.todo-info__title {
  text-align: center;
  margin: auto 2rem; }

.todo-info__key {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: grey; }

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out; }
  .popup-container:target {
    opacity: 1;
    visibility: visible; }
  .popup-container:target .popup-container__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup-container__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50%;
    padding: 3rem 2rem;
    transform: scale(0); }

.nav__list {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #3383a3; }

.nav li {
  display: inline-block; }
  .nav li:last-child {
    float: right; }

.nav__list-item, .nav__list-item:link {
  padding: 0 2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }

.nav__list-item--active {
  color: black; }

.close-tag {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer; }

.header {
  height: 30vh;
  position: relative; }
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
