@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*
0-600 PHONE
600-900 TABLET PORTRAIT
900-1200 TABLET LANDSCAPE
1200-1800 DESKTOP
1800px+ BIG DESKTOP
*/
/*
Break point argument choices:
-phone
-tab-portrait
-tab-landscape
-big-DESKTOP
*/
@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secundary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secundary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secundary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-div {
  margin: auto !important; }

.u-float-right {
  float: right !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.very-urgent {
  color: #d6240d !important; }

.urgent {
  color: #e69225 !important; }

.not-urgent {
  color: #32a852 !important; }

.done {
  text-decoration: line-through; }

.btn {
  display: inline-block;
  margin: 2rem 2rem 2rem 0;
  border-radius: 10px;
  padding: 1rem;
  background-color: whitesmoke;
  border-style: none;
  transition: all 300ms; }
  .btn:hover, .btn:active {
    cursor: pointer;
    background-color: #3383a3;
    transform: translateY(-5px); }
  .btn__text {
    padding: 2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
    .btn__text:active, .btn__text:visited {
      color: white; }
  .btn--yellow {
    background-color: #d9d636; }

.form {
  margin: 1rem; }
  .form__section {
    width: 100%;
    position: relative;
    padding: 2rem 0;
    overflow: hidden; }
    .form__section--description {
      padding: 0;
      height: auto; }
    .form__section--select {
      padding-bottom: 0.5rem; }
    .form__section--search {
      display: block;
      margin: auto;
      width: 50vw; }
  .form__input {
    color: #646c70;
    padding-top: 1rem;
    width: 80%;
    height: 100%;
    border: none;
    outline: none; }
    .form__input--date, .form__input--select {
      width: auto; }
    .form__input--search {
      display: block;
      margin: auto;
      width: 60vw;
      font-size: 3rem; }
    .form__input--text-area {
      height: 10rem; }
  .form__label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 90%;
    height: 100%;
    pointer-events: none;
    text-transform: uppercase;
    margin: 1rem 0; }
    .form__label--text {
      border-bottom: 1px solid black; }
    .form__label--description, .form__label--select {
      position: static; }
    .form__label--description {
      bottom: -1rem;
      margin: 0; }
    .form__label::after {
      content: '';
      position: absolute;
      left: -1px;
      bottom: -3px;
      height: 100%;
      width: 100%;
      transition: all 300ms ease; }
    .form__label--text::after {
      border-bottom: 3px solid #3383a3;
      transform: translateX(-100%); }
  .form__span {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 300ms ease; }
    .form__span--select {
      top: 0; }
  .form__color--label {
    display: block; }
  .form__input:focus + .form__label .form__span,
  .form__input:valid + .form__label .form__span {
    font-size: 1rem;
    transform: translateY(-200%);
    width: 100%; }
  .form__input:valid + .form__label--select .form__span--select {
    transform: translateY(0);
    font-size: inherit; }
  .form__input:focus + .form__label--text::after {
    transform: translateX(0); }

.loading {
  text-align: center; }
  .loading--spinner {
    margin: 2rem;
    font-size: 4rem;
    animation: spinner 1.2s linear infinite; }

.error {
  position: relative;
  display: block;
  width: 50vh;
  margin: auto;
  background-color: orangered;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  border-radius: 5px; }
  .error__text {
    font-weight: 400; }

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out; }
  .popup-container:target {
    opacity: 1;
    visibility: visible; }
  .popup-container:target .popup-container__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup-container__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50%;
    padding: 3rem 2rem;
    transform: scale(0); }

.todo-card {
  width: 60vw;
  margin: 3rem auto;
  border: 3px solid #3383a3;
  border-radius: 3px;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.2); }

.close-tag {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer; }

.nav__list {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #3383a3; }

.nav__list-item {
  display: inline-block; }

.nav__list-item-link, .nav__list-item-link:link {
  padding: 0 2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }
  .nav__list-item-link--active, .nav__list-item-link:link--active {
    color: #d9d636; }
  .nav__list-item-link:hover, .nav__list-item-link:link:hover {
    color: #d9d636; }

.header {
  height: 30vh;
  position: relative; }
  .header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.todos {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  text-align: center; }
  .todos__item {
    border: 1rem solid #3383a3;
    border-radius: 4px;
    display: block;
    text-transform: uppercase;
    margin: 1rem 2rem;
    padding: 1rem;
    position: relative; }
  .todos__link {
    text-decoration: none;
    color: black; }
  .todos__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
    .todos__title:hover {
      color: #3383a3; }
  .todos__icon {
    font-size: 3rem;
    cursor: pointer; }
    .todos__icon:not(:last-child) {
      padding-right: 2rem; }
  .todos__name {
    float: left;
    margin: 1rem;
    padding: 0 2rem 2rem 0; }
  .todos__date {
    float: right;
    margin: 1rem;
    padding: 0 0 2rem 2rem;
    text-decoration: underline; }

.todo-info {
  margin: 2rem; }
  .todo-info__title {
    text-align: center;
    margin: auto 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .todo-info__key {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 200;
    color: grey; }

.login {
  width: 50vw;
  margin: auto; }

.signup {
  width: 50vw;
  margin: 0 auto;
  font-size: 1rem; }
