.error {
	display: block;
	height: 3rem;
	width: 50vh;
	margin: auto;
	background-color: orangered;
	color: black;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem;
	border-radius: 5px;
}
